#include <windows.h>
#include "resource.h"
// Application Icon
IDI_APP_ICON            ICON                    "resources\\app_icon.ico"
// Executable
// Note: Manifest is handled by the project file, so we don't include it here

// Main FilesIDR_DLL_FLUTTER_WINDOWS RCDATA "flutter_windows.dll"
IDR_EXE_FLUTTER_APP RCDATA "font_previewer.exe"
IDR_DLL_URL_LAUNCHER RCDATA "url_launcher_windows_plugin.dll"

// Data Folder Files
IDR_DATA_APP_SO RCDATA "data/app.so"
IDR_DATA_ICUDTL RCDATA "data/icudtl.dat"

// Flutter Assets
IDR_ASSET_MANIFEST_BIN RCDATA "data/flutter_assets/AssetManifest.bin"
IDR_ASSET_MANIFEST_JSON RCDATA "data/flutter_assets/AssetManifest.json"
IDR_FONT_MANIFEST_JSON RCDATA "data/flutter_assets/FontManifest.json"
IDR_NATIVE_ASSETS_MANIFEST_JSON RCDATA "data/flutter_assets/NativeAssetsManifest.json"
IDR_NOTICES_Z RCDATA "data/flutter_assets/NOTICES.Z"

// Note: 
// Folders like fonts and shaders are handled by the code directly
// by copying the entire directory structure at runtime.
// If your app has additional critical files that need to be embedded,
// add them here with sequential resource IDs.
